header {
    background-color: #DDDDDD;
    color: black;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 20px;

}

header img {
    width: 10%;
}

nav {
    color: #00C3BD;
    text-decoration: overline;
    background-color: white;
    padding: 5%;
    font-size: 150%;
    
}

nav a {
    color: #00C3BD;
    text-decoration: none;
}

a:hover {
    color:#00726f;
}

.active {
    color:  #A7A7A7;
}

.textbox {
    text-align: center;
    background-color: #DDDDDD;
    padding: 3%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
    /* border-color: white;
    border-style: double;
    border-width: 4px; */
    
}

.textbox img {
    width: 70%;
    height: 5%;
}

.textbox a {
    text-decoration: none;
    color:#00726f;
}

.textbox a:hover {
    color:#00C3BD;
}

h2, h3, h4 {
    font-family: 'Pacifico', cursive;
    font-size: 150%;
    text-align: center;
    
}

.itemlist {
    display: none;
}

table {
    display: none;
    background-color: #DDDDDD;
    padding: 3%;
    margin-left: 8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table img {
    width: 100%;

}

td {
    padding-left: 5%;
    padding-right: 5%;
}

.itemlist-mobile img {
    margin-left: 25%;
}

.itemlist-mobile p {
    text-align: center;
}


.image img {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    border-top-width: 8px;
    border-top-color: #A7A7A7;
    border-top-style: solid;
    border-bottom-width: 8px;
    border-bottom-color: #A7A7A7;
    border-bottom-style: solid;
    /* border-width: 10px;
    border-color: black;
    border-style:ridge; */

}

.tag {
    text-align: center;
    background-color: #00C3BD;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    margin-bottom: 1%;
    border-radius: 50%;
    padding: 0.5%;
    border-style:double;
    border-color:#DDDDDD;
    border-width: 10px;

}

.price p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 120%;
}

h5 {
    font-family: 'Pacifico', italic;
    font-size: 200%;
    /* text-decoration: overline;
    text-decoration-color:#00726f; */
}


footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #A7A7A7;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 110%;
    text-align: center;

}

/* DESKTOP  */

@media (min-width: 1000px) {

body {
    font-size: larger;
}

.itemlist {
    display: block;
}

.itemlist-mobile {
    display: none;
}

table {
    display: inline-block;
    background-color: #DDDDDD;
    margin-left: 20%;
    padding: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

table img {
    width: 100%;
    border-color:#00C3BD;
    border-width: 5px;
    border-style: double;
}

td {
    padding-left: 2%;
    
}

h2, h3, h4 {
    display: block;
    font-family: 'Pacifico', cursive;
    font-size: 150%;
    text-align: center;
    
}

}

/* MOBILE */

@media (max-width: 800px) {

nav {
font-size: 100%;
}

body {
  font-size: smaller;
 }

h5 {
    font-size: 125%;
}
      
}
    
    